.coolTitle {
	text-align: center;
	font-family: 'Oswald', Helvetica, sans-serif;
	font-size: 80px;
	transform: skewY(-9deg);
	letter-spacing: 2px;
	word-spacing: -8px;
	color: #00CCCC;
	text-shadow:
	/*	-1px -1px 0 firebrick,
		-2px -2px 0 firebrick,
		-3px -3px 0 firebrick,
		-4px -4px 0 firebrick,
		-5px -5px 0 firebrick,
		-6px -6px 0 firebrick,
		-7px -7px 0 firebrick,
		-8px -8px 0 firebrick,
		-30px 20px 40px dimgery;*/
		2px 2px 4px #000000;
}

.done {
	text-decoration: line-through;
	list-style-type: disc;
}

#first, .second {
	text-align: center;
	/*font-family: 'Indie Flower', cursive;*/
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 30px;
	line-height: 0.5;
}

.input {
	text-align: center;
}

#userinput, #enter{
	border-style: line;
  	border-color: #d1e5e1;
  	border-radius: 5px;
  	font-size: 18px;
}

#enter {
	color: white;
	background-color: #00CCCC;
  	font-size: 16px;
  	width: 100px;
  	height: 30px;
}

.ulist {
	font-family: 'Permanent Marker', cursive;
	margin: 0 auto;
  	width: 400px;
  	font-size: 28px;
 }

 ul {
  	list-style-type: circle;
}

.delBtn {
	text-decoration: none;
  	text-transform: uppercase;
	border-radius: 4px;
  	color: white;
  	background-color: #00CCCC;
  	opacity: .4;
}
